:root {
    /* Paleta de cores base do site */
    --main--color: #FFFFFF;
    --bg: #1E2749;
    --main--color--hover: #F40000;
  }
  * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    box-sizing: border-box;
  }
  body{
    background-color: var(--bg);
    color: var(--main--color);
    font-family: 'Inter', sans-serif;
  }
  header{
    display: grid;
    grid-template-columns: 210px 1fr;
  }
  aside{
    text-align: left;
    padding: 35px;
  }
  aside h2, aside h4{
    margin-bottom: 35px;
  }
  aside h4{
    display: flex;
    gap: 15px;
  }
.social-media{
    text-align: right;
    display: grid;
    grid-template-rows: 70px 70px 70px;
    font-size: 25px;
    margin-top: 110px;
}
.detalhe-social-media i{
    color: var(--bg);
    background-color: #ffffff;
    width: 50px;  /* tamanho fixo */
    height: 50px; /* tamanho fixo */
    border-radius: 50%; /* deixa o quadrado virar círculo */
    
    display: inline-flex; /* ou flex, depende do contexto */
    align-items: center;  /* centraliza verticalmente */
    justify-content: center; /* centraliza horizontalmente */
    

    font-size: 25px; /* tamanho do ícone */
}
