:root {
    /* Paleta de cores base do site */
    --main--color: #E0E0E0;
    --bg: #0E1116;
    --main--color--hover: #F40000;
  }
  * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: background-color 0.2s linear, color 0.2s linear;
    box-sizing: border-box;
  }
  body{
    background-color: var(--bg);
    color: var(--main--color);
    font-family: 'Poppins', sans-serif;
  }
  header{
    display: grid;
    grid-template-columns: 210px 1fr;
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
  aside{
    text-align: left;
    padding: 31px;
  }
  .nome{
    color: red;
    text-shadow: #F40000;
  }
.sobrenome{
    margin-left: 18px;
}
.texto-nome{
    margin-bottom: 30px;
}
  aside h4{
    margin-bottom: 15px;
    color: var(--main--color);
  }
  aside h4 {
    display: flex;
    gap: 15px;
    font-size: 14px;
    align-items: center;
    
    /* Fixando o tamanho para evitar "movimentos" */
    padding: 11px;
    width: 160px;

    border-radius: 100px;
    /* Adicionando transição apenas no fundo */
    transition: background-color 0.2s linear;

    
  }
  
  aside h4:hover {
    background-color: rgba(191, 188, 203, 0.3);

  }

  aside h4 i{
    font-size: 17px;
  }


.social-media{
    text-align: right;
    display: grid;
    grid-template-rows: 70px 70px 70px;
    font-size: 25px;
    margin-top: 75px;
}
.detalhe-social-media i{
    color: var(--bg);
    background-color: #ffffff;
    width: 45px;  /* tamanho fixo */
    height: 45px; /* tamanho fixo */
    border-radius: 50%; /* deixa o quadrado virar círculo */
    
    display: inline-flex; /* ou flex, depende do contexto */
    align-items: center;  /* centraliza verticalmente */
    justify-content: center; /* centraliza horizontalmente */
    

    font-size: 23px; /* tamanho do ícone */
}


